[Unit]
After=syslog.target
Description=rpm-agent

[Service]
Type=forking
User=root
ExecStart=/usr/local/bin/rpm-agent
Restart=always

[Install]
WantedBy=multi-user.target






